.watch__input {
  width: 100%;
  min-width: 255px;
  height: 50px;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, .2);
  color: #ffffff;
}

.watch__input::placeholder {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: #BEBEBE;
}

.watch__input:nth-of-type(n+2) {
  margin-left: 30px;
}

.watch__input:focus {
  outline: 1px solid var(--pg-gold);
}