.cards__item {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  width: 535px;
  height: 320px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-image: url(../../../images/card.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid transparent;
  color: #ffffff;
  transition: border-color .7s linear .3s, color .7s linear .3s, transform .7s linear .3s;
  cursor: pointer;
}

.cards__item:hover {
  transform: scale(1.02, 1.02) translate(5px, -5px);
  border-color: var(--pg-gold);
  color: var(--pg-gold);
}

.cards__item:nth-of-type(2n) {
  margin-left: 30px;
}

.cards__item:nth-of-type(n+3) {
  margin-top: 30px;
}